{
  "presets": [
    ["@babel/preset-env", { "targets": "defaults" }],
    ["@babel/preset-typescript", { "allowDeclareFields": true }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
} 